<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增商品</title>
</head>
<body>

<h1>新增商品</h1>

<form method="post" enctype="multipart/form-data">
    <label for="name">商品名稱:</label>
    <input type="text" name="name" required><br>

    <label for="price">價格:</label>
    <input type="number" name="price" required><br>

    <label for="stock">庫存:</label> <!-- 新增庫存輸入框 -->
    <input type="number" name="stock" required min="0><br>

    <label for="sponsor">贊助者:</label> <!-- 新增贊助者輸入框 -->
    <input type="text" name="sponsor" placeholder="輸入贊助者名稱"><br>

    <label for="photo">商品圖片:</label>
    <input type="file" name="photo" accept="image/*" required><br>

    <input type="submit" value="新增商品">
</form>

<a href="/admin">返回管理介面</a>

<br><br>

</body>
</html>